<div class="jumbotron">
  <form class="form-horizontal" ng-submit="searchFlight(formData)">
    <div class="row">
        <div class="col-md-6">
          <!-- FROM -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">From</div>
              <input type="text" class="form-control"  ng-model="formData.fromDest">
            </div> 
          </div>
          <div class="form-group">
              <uib-datepicker ng-model="formData.fromDt" min-date="formData.minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
              <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="formData.departureTimeEnable"/>
                    Departure Time Preferences?
                </label>
              </div>
              <div ng-if="!!formData.departureTimeEnable">
                <uib-timepicker ng-model="formData.fromEarliestTime" show-meridian="false"></uib-timepicker>
                <uib-timepicker ng-model="formData.fromLatestTime" show-meridian="false"></uib-timepicker>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- TO -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">To</div>
              <input type="text" class="form-control" ng-model="formData.toDest">
            </div> 
          </div>
          <div class="form-group">
              <uib-datepicker ng-model="formData.toDt" min-date="formData.fromDt" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
              <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="formData.arrivalTimeEnable"/>
                    Departure Time Preferences?
                </label>
              </div>
              <div ng-if="!!formData.arrivalTimeEnable">
                <uib-timepicker ng-model="formData.toEarliestTime" show-meridian="false"></uib-timepicker>
                <uib-timepicker ng-model="formData.toLatestTime" show-meridian="false"></uib-timepicker>
              </div>
          </div>
        </div>
     </div>    

    <div class="form-group">
        <button type="submit" class="btn btn-info btn-lg btn-block btn-default">Search</button>
    </div>

  </form>

  <div id="results" ng-if="trips && trips.length">
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="trip in trips" ng-id="trip.id">

            <td>
                <div ng-repeat="sl in trip.slice">
                  <div ng-repeat="seg in sl.segment" ng-id="seg.id">
                    <span uib-tooltip="{{seg.flight.carrierName}}">{{seg.flight.carrier+" "+seg.flight.number}}</span>
                    <span>
                      <span ng-repeat="leg in seg.leg">
                        <div uib-tooltip="{{leg.originName}}">{{leg.origin}}: {{leg.departureTime}}</div>
                        <div uib-tooltip="{{leg.destinationName}}">{{leg.destination+" "+leg.destinationTerminal}}: {{leg.arrivalTime}}</div>
                      </span>
                    </span>
                  </div>
                <div>
            </td>
            <td>{{trip.saleTotal}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
